[Desktop Entry]
Name=Guardian Editor
GenericName=Text Editor
Comment=Edit text files
Exec=cosmic-edit %U
Icon=com.system76.CosmicEdit
Terminal=false
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
Keywords=text;editor;write;code;programming;notepad;
StartupNotify=true
